<div class="registro-page">
  <h1>Registro de Usuario</h1>
  <div class="registro-container">
    <form (ngSubmit)="onSubmit()" #registroForm="ngForm">
      <div class="form-group">
        <input type="text" id="firstName" name="firstName" [(ngModel)]="formData.firstName" required placeholder="Nombre" />
      </div>

      <div class="form-group">
        <input type="text" id="lastName" name="lastName" [(ngModel)]="formData.lastName" required placeholder="Apellido" />
      </div>

      <div class="form-group">
        <input type="email" id="email" name="email" [(ngModel)]="formData.email" required placeholder="Email" />
      </div>

      <div class="form-group">
        <input type="text" id="address" name="address" [(ngModel)]="formData.address" required placeholder="Dirección" />
      </div>

      <div class="form-group">
        <input type="text" id="username" name="username" [(ngModel)]="formData.username" required placeholder="Usuario" />
      </div>

      <div class="form-group">
        <input type="password" id="password" name="password" [(ngModel)]="formData.password" required placeholder="Contraseña" />
      </div>

      <div class="form-group">
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="formData.confirmPassword" required placeholder="Confirmar Contraseña" />
      </div>

      <div *ngIf="formData.password !== formData.confirmPassword && formData.confirmPassword">
        <p style="color: red;">Las contraseñas no coinciden</p>
      </div>

      <button type="submit" class="btn-registrarse" [disabled]="!registroForm.form.valid">
        Registrarse
      </button>
    </form>

    <div class="link-login">
      <p>¿Ya tenés cuenta? <a routerLink="/login">Iniciar sesión</a></p>

    </div>
  </div>
</div>
